body {
  height: 100vh;
  justify-content: center;
}
#btt img {
  background: #a7a7c6;
  height: 3rem;
  border-radius: 50%;
  padding: 0.5rem;
}
#btt {
  position: absolute;
  left: 1.8rem;
  top: 1.8rem;
}
