{% extends "games/base.html" %} 
{% load static %} 
{% block links %}
  <link rel="stylesheet" href="{% static '/css/slides.css' %}" />
{% endblock links %}
{% block content %}
  <a href=" {% url 'home' %} " id="btt">
    <img src=" {% static '/graphics/logo (9).png' %} " />
  </a>
  <div class="block">
    <h1>Animals</h1>
    <hr />
    <div class="box"></div>
    <div id="p2"></div>
  </div>
  <script type="module" src=" {% static '/js/content.js' %} "></script>
  <script type="module" src=" {% static '/js/slide.js' %} "></script>
{% endblock content %}
