{% extends 'main/form-base.html' %}
{% block form %}
  <h1>Sing in</h1>
  <div class="input">
    <input
      type="text"
      name="name"
      id="name"
      placeholder="  "
      value="{{val1}}"
      required
    />
    <label for="name">Name</label>
  </div>
  <div class="input">
    <input
      type="tel"
      value="{{val3}}"
      id="mobile"
      name="mobile"
      maxlength="10"
      placeholder="   "
      pattern="[0-9]{9,10}"
      title="Characters between 0 and 9"
      required
    />
    <label for="mobile" id="lbl">Mobile</label>
    <span class="hide" id="label">Invalid Phone Number</span>
  </div>
  <div class="input">
    <input type="date" name="dob" id="dob" value="{{val2}}" required />
    <label for="dob">Birth Day</label>
  </div>
  <button type="submit">Submit</button>
  <button type="reset">Cancel</button>
  <script>
    let input = document.getElementById("mobile");
    let label = document.getElementById("label");
    if (input.value.length) {
      label.classList.remove("hide");
      let ys = 0;
      input.addEventListener("input", () => {
        ys++;
        if (ys > 2) {
          label.classList.add("hide");
          }
      });
    }
  </script>
{% endblock form %}
