{% extends "main/main.html" %}
{% load static %}
{% block links %}
  <link rel="stylesheet" href=" {% static '/css/rename-base.css' %} " />
  {% if mode == 1 %}
    <link rel="stylesheet" href=" {% static '/css/rename-rename.css' %} " />
  {% else %}
    <link rel="stylesheet" href=" {% static '/css/rename-varify.css' %} " />
  {% endif %}
{% endblock links %}
{% block content %}
  <div class="status">
    <div class="one">1</div>
    <div class="two">2</div>
  </div>
  <form action="/renamepsw/" method="post">
    {% csrf_token %}
    {% block form %}
    {% endblock form %}
  </form>
{% endblock content %}
